/*TO DO:
how to create text box with based on length of text
shrink pictures
make logo show up
*/




Body {
font-family: 'Merriweather', serif;
background-color: #F2F1E8;
margin: 0 auto;
text-align: center;
color: #131511;


}

nav {
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
  }

  #id {
    display: flex;
    flex-shrink: 30%;
  }

nav a{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  color: #2B2F26;
  display:flex;
  justify-content: center;
}

  a:hover {
    color: #CD5D67;
  }

  a:active {
    color: #968772;

  }

/*ABOUT PAGE*/

.title{
  text-align: center;
  font-weight: lighter;
  font-size: 72px;
}

.images {
  display:flex;
  flex-direction: column;

}


#row1 {
  display: flex;
  flex-basis: 100%;
  flex-direction:row;
  justify-content: space-between;
}

#row2 {
  display: flex;
  flex-basis: 100%;
  flex-direction:row;
  justify-content: space-between;
  margin: 10px, 10px;
}

 #image1 {
  flex-basis:60%;
}
div #image2 {
  flex-basis: 20%;

}
#image3 {
  flex-basis: 20%;
}
#image4 #image5{
  flex-basis: 20%;
}
#image6 {
    flex-basis: 40%;
}
#image7 {
    flex-basis: 20%;
}
.images p {
  border: 1px solid #2B2F26;
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 50px;
  box-sizing: content-box;
  text-align: center;
  position: relative;
  top: -210px;

}
/* picture sizing last resor


#picture2 {

}
#picture3 {

}

#picture4 {

}

#picture5 {

}
#picture6 {

}
#picture7 {

}
*/

/* NEWSLETTER PAGE */

#newsletter {
  background-image: url("./images/optimized/background-2.jpg");


}

form {
  background-color:white;
  width: 800px;
  height: 300px;
  padding: 50px 10px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 150px;
  display:flex;
  flex-direction: column;
}

  input {
    border: none;
    border-bottom: 1px solid #968772;
  }



label {
  font-family: 'Roboto', sans-serif;
  color: #968772;
  font-size: 24px;


}

button {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #968772;
  background-color:#968772;
  color:#F2F1E8;
  padding: 12px 24px;
  font-size: 18px;
  box-sizing: content-box;

  }

button:hover {
  background-color: #967343;
  color: #FFFFFF;
}


footer {
  background-color: #2B2F26;
  border: 1px solid #2B2F26;
  color: #F2F1E8;
  text-align: left;
  padding: 10px 0 0 20px;
  display: flex;
  flex-basis: 100%;
}

/* ABOUT PAGE*/

#about_page {
  text-align: left;


}

#about_page > section {
  margin: 0 65px;

}

#about_page > h1, h2 {
  text-align: center;
}

#about_page > h2 {
  background-color: #32411A;
  background-image: url("./images/optimized/background-3.jpg");
  background-size: cover;
  color: #F2F1E8;
  padding: 90px 0;
  font-size: 36px;
}

#birdhouse {
  width: 100px;
  height: 80px;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
#facilities_pic > p {
  float: left;
}

#facilities_pic {
  width: 100px;
  height: 80px;

}
table, tr, td, th{
  border:1px solid #131511;
  border-collapse: collapse;
  box-sizing: content-box;
}

table{
  margin-bottom: 50px;
  }
tr:nth-child(even) {
  background: #F2EADC}

tr:nth-child(odd) {
  background: #F2F1E8}

th{
  text-align: center;
}

th, tr, td {
  padding: 10px 5px;
}
/*
Colors:
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/
