/*TO DO:
how to create text box with based on length of text
shrink pictures
*/




Body {
font-family: 'Merriweather', serif;
background-color: #F2F1E8;
margin: 0 auto;
text-align: center;
color: #131511;


}

nav {
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    /*flex-basis: 100%;*/
    flex-direction: row;
    j

  }


  #logo {
    height: 40px;
    width: 35px;
    padding-left: 10px;

  }

#test2{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #2B2F26;
  padding-top: 10px;
  padding-left: 450px;
  align-content: center;

}

nav a {
  padding-left: 100px;
}

  a:hover {
    color: #CD5D67;
  }

  a:active {
    color: #968772;

  }

  footer {
    background-color: #2B2F26;
    border: 1px solid #2B2F26;
    color: #F2F1E8;
    text-align: left;
    padding: 10px 0 0 20px;
    display: flex;
    flex-basis: 100%;
  }

/*INDEX PAGE*/

.title{
  text-align: center;
  font-size: 42px;
}

main {
  flex-shrink: 0.5;
}
.images {

  /*margin: 0 500px 0 500px;*/


}

#row1 {
  display: flex;
  flex-basis: 100%;
  flex-direction:row;
  justify-content: center;
  height: 600px;
  margin-left: 15px;
  margin-right:15px;
  margin-bottom: 20px;



}

#row2 {
  display: flex;
  flex-basis: 100%;
  flex-direction:row;
  justify-content: center;
  height: 450px;
  margin-right:15px;
  margin-bottom: 20px;


}

#picture1 {
  background-image: url("./images/optimized/product-1.jpg");
  flex-basis: 57%;
  margin-right: 20px;
  background-position: center;
  background-size: cover;

}

#picture2 {
  background-image: url("./images/optimized/product-2.jpg");
  flex-basis: 18%;
  margin-right: 20px;
  background-position: center;
  background-size: cover;

}
#picture3 {
  background-image: url("./images/optimized/product-3.jpg");
  flex-basis: 18%;
  margin-right: 20px;
  background-position: center;
  background-size: cover;
}
#picture4 {
  background-image: url("./images/optimized/product-4.jpg");
  flex-basis: 18%;
  margin-right: 20px;
  background-position: center;
  background-size: cover;
}
#picture5{
  background-image: url("./images/optimized/product-5.jpg");
  flex-basis: 18%;
  margin-right: 20px;
  background-position: center;
  background-size: cover;
}
#picture6 {
  background-image: url("./images/optimized/product-6.jpg");
  flex-basis: 38%;
  margin-right: 20px;
  background-position: center;
  background-size: cover;
}
#picture7 {
  background-image: url("./images/optimized/product-7.jpg");
  flex-basis: 18%;
  background-position: center;
  background-size: cover;
}

.images {
  margin: 0;
}
.images p {
  border: 1px solid #2B2F26;
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 5px;
  box-sizing: content-box;
  text-align: center;


}

/* NEWSLETTER PAGE */

#Newsletter {


  background-image: url("./images/optimized/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

}

form {
  background-color:white;
  padding: 50px 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 150px;



}

form h2 {
  margin-top: 0;
}

  input {
    border: none;
    border-bottom: 2px solid #968772;
    margin-bottom:10px;
    height:20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #968772;
    margin-bottom: 20px;
    outline:none;

  }



label {
  font-family: 'Roboto', sans-serif;
  color: #968772;
  font-size: 24px;
  text-align: left;
  padding-top: 20px;


}

button {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #968772;
  background-color:#968772;
  color:#F2F1E8;
  padding: 12px 24px;
  margin-top: 10px;
  font-size: 18px;
  align-content: center;
  display: inline-block;
  width: 100px;
  align-self: center;
  outline:none;

  }

button:hover {
  background-color: #967343;
  color: #FFFFFF;
}

form > h2 {
  margin-bottom: 25px;
}


/* ABOUT PAGE*/

#about_page {
  text-align: left;
  width: 100%;

}

#about_page > section {
  width: 65%;
  margin: auto;

}

p a {
  color:#968772;
}

p a:hover {
  color: #967343;
}

#about_page > h1, h2 {
  text-align: center;
}

#about_page > h2 {
  background-color: #32411A;
  background-image: url("./images/optimized/background-3.jpg");
  background-size: cover;
  color: #F2F1E8;
  padding: 90px 0;
  font-size: 36px;
}

#birdhouse {
  width: 100px;
  height: 80px;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

#quote {
  border-left: 1px solid black;
  padding-left: 20px;
  font-style: italic;
}


#facilities_pic {
  width: 100px;
  height: 80px;
  padding-left: 15px;
  padding-top: 16px
}

#facilities {
  display: flex;
  flex-direction: row;
}

#sub-text {
  font-size: 8px;
  padding-left: 15px;
}


table, tr, td, th{
  border:1px solid #131511;
  border-collapse: collapse;
  box-sizing: content-box;
}

table{
  margin-bottom: 50px;
  }
tr:nth-child(even) {
  background: #F2EADC}

tr:nth-child(odd) {
  background: #F2F1E8}

th{
  text-align: center;
}

th, tr, td {
  padding: 10px 5px;
}



/*
Colors:
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/
